<div class="container mt-5 p-4 text-center bg-light border">
    <h4 class="text-uppercase">Welcome to Server App</h4>
    <p>Place to create and manage servers</p>
</div>
<div class="container my-3 p-4 border">
    <app-creator (deviceData)="setData($event)"></app-creator>
</div>
<div class="container mb-5 px-4 pt-4 bg-light border">
    <app-servers *ngFor="let server of servers" [serverDetails]="server"></app-servers>
    <div *ngIf="servers.length == 0">
        <p class="text-center">No Data Available</p>
    </div>
</div>